# Ignore OS-specific files
.DS_Store
Thumbs.db
.env/
# Ignore user-specific settings
.vscode/
*.swp
*.swo

# Ignore downloaded music files (as they are personal)
/music/
/voice/
*.mp3
*.m4a
*.webm

# Ignore logs
*.log
